<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>act02</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <div class="logo">
          <img src="./img/fedora-guy.png" alt="" />
          <h1>Fedora</h1>
        </div>
        <div class="tags">
          <p id="name">{{ name }}</p>
          <a @click="toggleLogin()">Login</a>
          <a @click="toggleRegister()">Register</a>
        </div>
      </nav>
      <section v-show="register || login">
        <form @submit.prevent="printValue">
          <label v-show="register" for="name">Name</label>
          <input
            v-show="register"
            @change="e => checkInput(e)"
            type="text"
            name="name"
            placeholder="Add your name"
          />
          <label for="email">Email</label>
          <input
            @change="e => checkEmail(e)"
            type="email"
            name="email"
            placeholder="Add your email"
          />
          <label for="pass">Password</label>
          <input type="password" name="pass" placeholder="Add your password" />
          <label @change="e => checkInput(e)" v-show="register" for="re-pass"
            >Repeat your password</label
          >
          <input v-show="register" type="password" name="re-pass" />
          <button v-show="register" @click="printValue()">Register</button>
          <button v-show="login" @click="printValue()">login</button>
        </form>
      </section>
      <main>
        <div v-if="!login && !register" v-for="item in items" class="container">
          <h3>{{ item.product }}</h3>
          <img v-bind:src="item.picture" />
          <p>{{ item.price }}€</p>
          <p>
            <span v-for="tag in item.tags">#{{ tag }}</span>
          </p>
        </div>
      </main>
    </div>
    <script>
      const { createApp } = Vue;

      let app = createApp({
        data() {
          return {
            logged: false,
            login: false,
            register: false,
            name: "",
            email: "",
            password: "",
            items: this.getData(),
          };
        },
        methods: {
          setData(json) {
            this.items = json;
          },
          getData() {
            fetch("./data.json")
              .then((response) => response.json())
              .then((json) => this.setData(json));
          },
          toggleRegister() {
            this.register = !this.register;
            this.login ? (this.login = !this.login) : this.login;
          },
          toggleLogin() {
            this.login = !this.login;
            this.register ? (this.register = !this.register) : this.register;
          },
          printValue() {
            console.log(this);
          },
          checkInput(e) {
            let checkNaN = isNaN(e.target.value.trim());
            let checkEmpty = e.target.value.trim().length > 0;
            console.log(checkEmpty + " " + checkNaN);
          },
          checkEmail(e) {
            let regex =
              /[-0-9!#$%&'*+/=?^_`{|}~A-Za-z]+(?:\.[-0-9!#$%&'*+/=?^_`{|}~A-Za-z]+)*@(?:[0-9A-Za-z](?:[-0-9A-Za-z]*[0-9A-Za-z])?\.)+[0-9A-Za-z](?:[-0-9A-Za-z]*[0-9A-Za-z])?/i;
            let checkIsEmail = regex.test(e.target.value.trim());
            console.log(checkIsEmail);
          },
          comparePass(e) {
            //compare re-pass with pass
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
<!-- Following the page created in the previous activity, add two buttons in the menu: one
to register and one to log in.
When you press the button to register a new user, the container with the products
will be hidden, and, instead, another container with a form to register will be shown.
In this form there will be an email, a nickname and a password (x2). The data will be
checked and saved in the browser's localstorage.
On the other hand, clicking on the login button will hide the products container (or the
registration form) and will show a form with the email and password fields. To login
you will have to check that the email entered exists in the localstorage. If the process
is successful, the products will be shown again and, in addition, the top bar will
display a text like: Hello, John (where John is the nickname of the registered user). -->
