<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>act02</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <div @click="frontPage()" class="logo">
          <img src="./img/fedora-guy.png" alt="" />
          <h1>Fedora</h1>
        </div>
        <div class="tags">
          <p v-show="logged" id="welcome">Hello, {{ name }}</p>
          <a v-show="!logged" @click="toggleLogin()">Login</a>
          <a v-show="!logged" @click="toggleRegister()">Register</a>
          <a v-show="logged" @click="logOut()">Log Out</a>
        </div>
      </nav>
      <section v-show="register || login">
        <!-- form -->
        <form @submit.prevent="">
          <!-- name -->
          <label v-show="register" for="name">Name</label>
          <input
            v-show="register"
            @change="e => checkName(e)"
            type="text"
            name="name"
            placeholder="Add your name"
          />
          <!-- email -->
          <label for="email">Email</label>
          <input
            @change="e => checkEmail(e)"
            type="email"
            name="email"
            placeholder="Add your email"
          />
          <!-- password -->
          <label for="pass">Password</label>
          <input
            v-model.trim="password"
            type="password"
            name="pass"
            placeholder="Add your password"
          />
          <!-- re-password -->
          <label v-show="register" for="re-pass">Repeat your password</label>
          <input
            @change="e => comparePass(e)"
            v-show="register"
            type="password"
            name="re_pass"
          />
          <!-- errors -->
          <div v-show="errors.length > 0" class="errors">
            <p v-for="error in errors" class="error">{{error}}</p>
          </div>
          <!-- buttons -->
          <button v-show="register" @click="e => registerUser(e)">
            Register
          </button>
          <button v-show="login" @click="e => loginUser(e)">login</button>
        </form>
      </section>
      <main>
        <Products
          v-if="!login && !register"
          v-for="item in items"
          :item="item"
        />
      </main>
    </div>
    <script type="module">
      import Products from "./products.js";

      const { createApp } = Vue;

      let app = createApp({
        data() {
          return {
            logged: false,
            login: false,
            register: false,
            name: "",
            email: "",
            password: "",
            errors: [],
            users: [],
            items: this.getData(),
          };
        },
        components: {
          Products,
        },
        methods: {
          setData(json) {
            this.items = json;
          },
          getData() {
            fetch("./data.json")
              .then((response) => response.json())
              .then((json) => this.setData(json));
          },
          frontPage() {
            this.login = false;
            this.register = false;
          },
          registerUser(e) {
            this.checkRegisterForm(e);
            this.checkLocalStorage();
            this.checkIEmailToReg(e.target.form.email.value);

            let errors = this.errors.length > 0;

            if (!errors) {
              const dataUser = {
                name: e.target.form.name.value,
                email: e.target.form.email.value,
                password: this.password,
              };

              this.users.push(dataUser);
              localStorage.setItem("users", JSON.stringify(this.users));

              e.target.form.reset();
              this.register = !this.register;
            }
            this.password = "";
            e.target.form.re_pass.value = "";
          },
          checkRegisterForm(e) {
            let nameNotEmpty = e.target.form.name.value.trim().length > 0;
            let emailNotEmpty = e.target.form.email.value.trim().length > 0;
            let passNotEmpty = this.password.length > 0;
            let correctForm = nameNotEmpty && emailNotEmpty && passNotEmpty;

            if (!correctForm)
              this.addError("There's 1 empty section at least.");

            if (correctForm)
              this.removeError("There's 1 empty section at least.");
          },
          loginUser(e) {
            this.checkLoginForm(e);
            this.checkLocalStorage();
            this.checkEmailToLog(e.target.form.email.value);
            this.checkPassToLog(e.target.form.email.value);

            let errors = this.errors.length > 0;

            if (!errors) {
              this.email = e.target.form.email.value;
              let pos = this.users.findIndex((e) => e.email === this.email);
              this.name = this.users[pos].name;
              e.target.form.reset();
              this.password = "";
              this.login = !this.login;
              this.logged = !this.logged;
            }
          },
          checkLoginForm(e) {
            let emailNotEmpty = e.target.form.email.value.trim().length > 0;
            let passNotEmpty = this.password.length > 0;
            let correctForm = emailNotEmpty && passNotEmpty;

            if (!correctForm)
              this.addError("There's 1 empty section at least.");

            if (correctForm)
              this.removeError("There's 1 empty section at least.");
          },

          checkLocalStorage() {
            if (localStorage.length != 0)
              this.users = JSON.parse(localStorage.getItem("users"));
          },
          checkEmailToLog(email) {
            this.users.some((e) => e.email === email)
              ? this.removeError("This email does not exists")
              : this.addError("This email does not exists");
          },
          checkPassToLog(email) {
            let pos = this.users.findIndex((e) => e.email === email);
            this.users[pos].password === this.password
              ? this.removeError("This password is incorrect")
              : this.addError("This password is incorrect");
          },
          checkIEmailToReg(email) {
            this.users.some((e) => e.email === email)
              ? this.addError("This email already exists")
              : this.removeError("This email already exists");
          },
          toggleRegister() {
            this.register = !this.register;
            this.errors = [];
            this.login ? (this.login = !this.login) : this.login;
          },
          toggleLogin() {
            this.login = !this.login;
            this.errors = [];
            this.register ? (this.register = !this.register) : this.register;
          },
          checkName(e) {
            let checkNaN = isNaN(e.target.value.trim());
            let checkEmpty = e.target.value.trim().length > 0;
            let correctName = checkEmpty && checkNaN;
            if (!correctName) {
              this.addDangerStyle(e.target);
              this.addError("Name section is empty");
            }
            if (correctName) {
              this.removeDangerStyle(e.target);
              this.removeError("Name section is empty");
            }
          },
          checkEmail(e) {
            let regex =
              /[-0-9!#$%&'*+/=?^_`{|}~A-Za-z]+(?:\.[-0-9!#$%&'*+/=?^_`{|}~A-Za-z]+)*@(?:[0-9A-Za-z](?:[-0-9A-Za-z]*[0-9A-Za-z])?\.)+[0-9A-Za-z](?:[-0-9A-Za-z]*[0-9A-Za-z])?/i;
            let checkIsEmail = regex.test(e.target.value.trim());
            let checkEmpty = e.target.value.trim().length > 0;
            let correctEmail = checkIsEmail && checkEmpty;
            if (!correctEmail) {
              this.addDangerStyle(e.target);
              this.addError("Your email is not correct");
            }
            if (correctEmail) {
              this.removeDangerStyle(e.target);
              this.removeError("Your email is not correct");
            }
          },
          comparePass(e) {
            let correctPass = e.target.form.pass.value === e.target.value;
            if (!correctPass) {
              this.addDangerStyle(e.target);
              this.addError("Your password does no match.");
            }
            if (correctPass) {
              this.removeDangerStyle(e.target);
              this.removeError("Your password does no match.");
            }
          },
          addError(error) {
            if (!this.errors.includes(error)) this.errors.push(error);
          },
          removeError(error) {
            let index = this.errors.indexOf(error);
            if (index !== -1) this.errors.splice(index, 1);
          },
          addDangerStyle(target) {
            let dangerExists = target.classList.length > 0;
            if (!dangerExists) target.classList.toggle("danger");
          },
          removeDangerStyle(target) {
            let dangerExists = target.classList.length > 0;
            if (dangerExists) target.classList.toggle("danger");
          },
          logOut() {
            this.logged = !this.logged;
            this.name = "";
            this.email = "";
            this.password = "";
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
