*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  text-align: center;
  background-color: rgb(46, 46, 46);
}
h1 {
  padding-top: 2em;
  font-style: italic;
}
p {
  margin-top: 1em;
}
.portada {
  cursor: pointer;
  background-color: rgb(32, 32, 32);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px;
}

.btn {
  background-color: white;
}

[data-control="play"] {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
