* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

p{
  font-weight: 700;
}

#error{
  color: red;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  border-radius: 5px;
}

input {
  line-height: 1.3em;
  padding: 0.3em;
}

button {
  width: 5em;
  padding: 0.4em;
  margin: 0.2em;
  outline: none;
  background-color: #a8d3fc;
  border: 1px solid black;
}
