ul {
  list-style: none;
}

.hide {
  display: none;
}

.correct {
  background-color: rgba(0, 192, 0, 0.432);
}

.wrong {
  background-color: rgba(214, 0, 0, 0.39);
}

#msg_results {
  margin-top: 1em;
}

img {
  height: 100px;
}

li > p,
td > p {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

span {
  text-align: center;
}

.bg-secondary {
  background-color: rgb(25, 49, 45) !important;
}
.bg-light {
  background-color: rgb(178, 224, 217) !important;
}
.nav-link {
  color: black;
}

#masc_list,
#fem_list,
#results_masc_list,
#results_fem_list {
  margin-top: 2em;
}
