@font-face {
  font-family: myFirstFont;
  src: url(jmh_typewriter/JMH\ Typewriter.otf);
}
* {
  font-family: myFirstFont;
}
h2 {
  margin: 20px;
  padding-top: 20px;
}
body {
  height: 100vh;
  background-image: url(img/fondo-grande.jpg);
  background-position: center;
  background-size: cover;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  width: 60%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

.input-text {
  width: 70%;
  margin: 10px auto;
}

input[type] {
  height: 25px;
  width: 100%;
}

/* input radio style */
.d-flex {
  display: flex;
}

/* hide radio */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* img style */
input[type="radio"] + img {
  cursor: pointer;
}

img[src*=icono] {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  margin: 10px;
  height: calc(412px * 0.15);
  width: calc(412px * 0.15);
}

img[src*=icono]:hover {
  opacity: 1;
  height: calc(512px * 0.15);
  width: calc(512px * 0.15);
}

/* checked style */
[type="radio"]:checked + img {
  outline: 2px solid black;
  opacity: 1;
  height: calc(512px * 0.15);
  width: calc(512px * 0.15);
}

.btn {
  display: flex;
  margin: 10px auto;
  padding: 5px 15px;
  background-color: white;
}
