:root {
  --black: #191414;
  --black-light: #252323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background-color: var(--black);
}

input,
button {
  height: 2.3em;
  padding: 0.6em;
  font-size: large;
  outline: none;
  border: none;
}

/*NAV*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  height: 4em;
  margin: 2em 0em;
}

input {
  border-radius: 10px 0px 0px 10px;
}
button {
  background-color: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}
button:active {
  background-color: #ffffffb4;
}

#logo {
  position: absolute;
  left: 5%;
}

/*RESULTS*/

#results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  text-align: center;
  margin: 2em 5em 0em 2em;
}

@media (max-width: 1400px) {
  #results {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  #results {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  #results {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*CONTAINER*/

.container {
  cursor: pointer;
  border: 3px solid var(--black-light);
  height: 25em;
  width: 16em;
  background-color: var(--black);
  transition: 0.5s;
}
.container:hover {
  box-shadow: 3px 3px 5px white;
  background-color: var(--black-light);
}

.title,
.front_img,
.followers,
.genres {
  margin-top: 1em;
}

.front_img {
  border: 1px solid black;
  width: 10em;
  height: 10em;
}

.title,
.followers,
.genres,
#num_results {
  color: #fff;
}

.genres > span {
  font-style: italic;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  margin: 0em 0.2em;
  background-color: var(--black-light);
}