nav {
  @include mobile {
    background-color: $blue-dark;
    color: $white;
  }
  @include tablet {
    background-color: $blue-light;
  }
  background-color: $green-light;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
    margin-bottom: 2em;
    li {
      list-style: none;
      cursor: pointer;
      a{
        &:active{
            color: $purple;
        }
      }
      &.active{
        @include mobile {
          background-color: $blue-light;
          color: $black;
        }
        @include tablet {
          background-color: $blue-dark;
          color: $black;
        }
        background-color: $green-dark;
        color: $white;
      }
    }
  }
}
