table {
  margin: 0 auto;
  thead {
    background-color: $blue-dark;
    color: $white;
    th {
      padding: 0.5em;
    }
  }
  tbody {
    @for $i from 1 to 4 {
      tr:nth-of-type(even) {
        background-color: $blue-light;
      }
    }
    td {
      padding: 0.5em;
    }
  }
}
