:root {
  --btn: #0000be;
  --bg-light: #ffffff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input[type="text"] {
  line-height: 25px;
  font-size: 14px;
  width: 5em;
  text-align: center;
}

.btn {
  font-size: 13px;
  cursor: pointer;
  background-color: var(--bg-light);
  color: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 5px;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
}

[disabled] {
  opacity: 0.5;
  cursor: auto;
}

main {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 2em 0;
}
#hangedman {
  height: 140px;
}
