<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>act01</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <img src="./img/fedora-guy.png" alt="" />
        <h1>Fedora</h1>
      </nav>
      <main>
        <div v-for="item in items" class="container">
          <h3>{{ item.product }}</h3>
          <img v-bind:src="item.picture" />
          <p>{{ item.price }}€</p>
          <p>
            <span v-for="tag in item.tags">#{{ tag }}</span>
          </p>
        </div>
      </main>
    </div>
    <script>
      const { createApp } = Vue;

      let app = createApp({
        data() {
          return {
            items: this.getData(),
          };
        },
        methods: {
          setData(json) {
            this.items = json;
          },
          getData() {
            fetch("./data.json")
              .then((response) => response.json())
              .then((json) => this.setData(json));
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
