:root {
  --blue: #5255ff;
  --bg-grey: #ffffff9d;
  --bg-btn: #ffffff;
  --bg-btn-active: #dfdfdf;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin: 20px;
  padding-top: 20px;
}
body {
  height: 100vh;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.centered {
  margin: 0 auto;
}
h2 {
  text-align: center;
}
p{
  padding: 0.5em;
}
main{
  display: grid;
  grid-template-columns:  33% 63%;
  gap: 3%;
  justify-items: center;
  align-items: center;
}
section {
  margin: 1em;
  background-color: var(--bg-grey);
  width: 100%;
}

.input-container {
  width: 70%;
  margin: 10px auto;
  height: 3em;
}

input {
  height: 25px;
  width: 100%;
}
.input-text {
  position: relative;
}
.input-text label {
  position: absolute;
  top: 30%;
  left: 2%;
  color: #658ebd;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.input-text input:valid ~ label,
.input-text input:focus ~ label {
  color: rgb(16, 0, 158);
  top: -30%;
  font-size: 0.8em;
}

.input-text:focus label {
  animation: slideOutUp 1s forwards;
}
.input-text input {
  border: 0;
  box-shadow: 0 0 4px;
  padding: 0.8em;
  outline: none;
  transition: 0.5s;
}
.input-text input:focus {
  border-bottom: 3px solid #5255ff;
  box-shadow: 0 0 2px;
}

@keyframes slideOutUp {
  from {
    bottom: 50%;
    left: 2%;
  }
  to {
    bottom: 100%;
    color: #000000;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  color: var(--blue);
  background-color: var(--bg-btn);
  width: 100px;
  margin: 10px auto;
  justify-content: center;
  border: 1px solid var(--blue);
  border-radius: 10px;
  transition: box-shadow 0.3s, padding 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 7px #000000;
}

.btn:active {
  animation: click_btn 0s forwards;
}

@keyframes click_btn {
  from {
  }
  to {
    box-shadow: 0 0 0;
    background-color: var(--bg-btn-active);
  }
}

#lista {
  background-color: white;
  margin: 1em;
  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
