/* ---- Basic styles ---------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #f2f5fe url("img/fondo.gif") 0 0 repeat-x;
  font: 70%/160% "verdana", sans-serif;
  color: #192666;
}

a {
  color: #192666;
}
a:hover {
  color: #4f6ad7;
}

p {
  margin: 1em 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1em 0;
  padding: 0;
}

h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h2 {
  font-size: 180%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

ul,
ol {
  margin: 1em 0 1em 2em;
  padding: 0;
}

/* ---- Layout ------------------------------------------------------------- */

#container {
  width: 770px;
  margin: 50px auto 0 auto;
}

#header {
  width: 770px;
  position: relative;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #233c9b url("img/cabecera.jpg") no-repeat;
  color: #fff;
}

#content {
  width: 760px;
  margin: 0 5px;
  background: #fff;
}

#content #main {
  float: left;
  width: 530px;
  margin-top: 15px;
  padding: 0 0 0 20px;
  background: #fff;
}

#content #aside {
  float: left;
  width: 200px;
  margin: 15px 0 0 0;
  padding: 0;
  background: #cedbf9 url("img/fondo_columna.gif") no-repeat;
}

#footer {
  clear: both;
  height: 60px;
  margin-bottom: 50px;
  background: url("img/fondo_pie.jpg") no-repeat;
  color: #6685cc;
  position: relative;
}

/* ---- Header ----------------------------------------------------------- */
#header #logo {
  position: absolute;
  top: 35px;
  left: 35px;
  margin: 0;
}

#header #logo a {
  color: #fff;
  display: block;
  line-height: 35px;
}

#header #logo a:hover {
  color: #b5c4e3;
  text-decoration: underline;
}

#header #search {
  position: absolute;
  top: 40px;
  right: 20px;
}

#header #search legend {
  display: none;
}

#header #search fieldset {
  border: none;
}

/* ---- Menu --------------------------------------------------------------- */
#menu {
  background: #192666;
  margin: 0 5px;
  padding: 10px 0 0 0;
}

#menu ul {
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

#menu ul li {
  margin: 0 5px 0 0;
  padding: 0;
  float: left;
}

#menu ul li a {
  display: block;
  position: relative;
  padding: 5px 15px;
  border: 0;
  background: #253575;
  color: #b5c4e3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#menu ul li a:hover {
  background: #31479b;
}

#menu ul li.selected a {
  background: #fff;
  color: #ff9000;
}

/* ---- Contents --------------------------------------------------------- */
#content .article {
  clear: both;
  margin: 0;
  padding: 20px;
  background: url("img/fondo_articulo.jpg") no-repeat;
}

#content .article h2 {
  margin: 0 -20px;
  padding: 10px;
  background: #dee5fd;
  color: #192666;
}

#content .info {
  margin: 10px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #dee5fd;
  color: #6685cc;
}

#content .info a {
  color: #6685cc;
}
#content .info a:hover {
  color: #ff9000;
}

#content .info span.date,
#content .info span.category,
#content .info span.author,
#content .info span.comments {
  padding-left: 15px;
}

#content .info span.date {
  background: url("img/icono_fecha.gif") 0 50% no-repeat;
}
#content .info span.category {
  background: url("img/icono_categoria.gif") 0 50% no-repeat;
  margin-left: 8px;
}
#content .info span.author {
  background: url("img/icono_autor.gif") 0 50% no-repeat;
  margin-left: 8px;
}
#content .info span.comments {
  background: url("img/icono_comentarios.gif") 0 50% no-repeat;
  margin-left: 8px;
}

#content #aside h3 {
  padding: 10px 0 10px 10px;
  margin-top: 20px;
  background: #a0b9f3;
  color: #192666;
}

#content #aside #aboutme img {
  float: left;
  margin: 4px 5px 0 0;
}

#content #aside div {
  padding: 0 10px;
}

#content #aside ul {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

#content #aside li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e0e8fa;
}

#content #aside li a {
  display: block;
  padding: 3px 0 3px 22px;
  background: url("img/icono_elemento.gif") 8px no-repeat;
  text-decoration: none;
}

#content #aside li a:hover {
  background-color: #e0e8fa;
  color: #192666;
}

#content #aside li.selected a {
  background: #e0e8fa url("img/icono_elemento_seleccionado.gif") 8px no-repeat;
  font-weight: bold;
}

/* ---- Footer ---------------------------------------------------------------- */
#footer p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 40px;
}
